html {
    position: fixed;
    overflow-y: scroll;
    scroll-behavior: smooth !important;
}

body {
 background-color: #1B1B1B;
 width: 100vw;
 height: 100vh;
 overflow-x: hidden;
 scroll-behavior: smooth;
 font-family: "Poppins";
 margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: #303030;
    color: white;
    border: none;
    cursor: pointer;
}


button:hover {
    color: white;
    transition: background-color 0.5s;


}


#wansearch-button:hover {
    background-color: #FC4C0A;

}

#physics-button:hover {
    background-color: #504F4F;
}

#bankinfo-button:hover {
    background-color: #924DBF;
}

#insight-button:hover {
    background-color: #2177FF;
}

#bhrep-button:hover {
    background-color: #00A07C;
}

#gpfs-button:hover {
    background-color: #2177FF;
}


.nav-bar-outer {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
}


.nav-bar {
    position: relative;
    display: flex;
    margin-top: 4vw;
    margin-left: 5vw;
    align-items: center;
    
    width:40vw;
    height: 3vh;
    background-color: #252525;
    border-radius: 1vw;
    padding: 1.5% 1% 1.5% 1%;
    box-sizing: border-box;
    font-size: 70%;
    justify-content: space-between;
}


.active-nav-item {
    background-color: #1B1B1B;

}
.vertical-line-top-home {
    
    position:absolute;
    z-index: 997;
    height: 60vh;
    width: 10ch;
    border-right: 0.1vw dotted white;
    border-bottom: 0.1vw dotted white;
    top: -57vh;
  right: 4vw;

}


#home {
    margin: 20vh 5vw 0 5vw;
    
}

.nav-item {
    padding: 1.5% ;
    width: max-content;
   
    color: white;
}

.landing-page-intro {
    display: flex;
    width: 90vw;
    height: max-content;
    align-items: center;
 
  justify-content: space-between;
}

.name-and-pic {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-container {
    width: max-content;
    height: max-content;
    display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.profile-pic-container {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 100%;
}


.name {
    color : white
}

.name h1 {
    font-size:5vw;
}

#fname {
    font-weight: bold;
}

#lname {
    font-weight:200;
}

.profile-pic-card-outer {
    display: flex;
    justify-content: center;
    align-items: start;
    
    width: max-content;
    height: max-content;

    background-color: #252525;
    border-radius: 1vw;
    padding: 2% 2% 4% 2%;
    border: 0.04vw solid rgba(255, 255, 255, 0.308);
}

.profile-pic-card-img {
    max-width: 100%;
    border-radius: 1vw;
    /* width: 90%; */
    /* max-height: 80%; */
}

.design-develop-tag {
    display: grid;
grid-auto-flow: column;
grid-column-gap: 10%;
    color: white;
    font-size: 200%;
    width: max-content;;
    /* justify-content: space-between; */
}

#design-tag-landing {
    position: relative;

    display: flex;
    z-index: 998;
    align-items: center;
    justify-content: center;
    background-color: #1B1B1B;
    border:0.04vw solid rgba(255, 255, 255, 0.308); ;
}

.landing-page-bottom {
    display: flex;
    width: 90vw;
    height: 25vh;
}

.take-a-tour {
    width: 15%;
    height: 100%;
}

.arrow-and-text {
    display: flex;
height: 100%;
    width: 100%;

}

/* .arrow-down {
    height: 100%;
    width: 100%;
} */

.arrow {
   
    /* transform: translate(-50%, -50%); */
/*     transform: rotate(0deg); */
    cursor: pointer;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

#take-a-tour-text {

    writing-mode: vertical-rl;
text-orientation: mixed;
}

.frontend-backend-tag {
    
    display: flex;
    justify-content: end;
    width: 85%;
    height: 42%;
    margin-top: 3vh;
}

.frontend-backend-tag-outer {
    color: white;
    
    border:0.04vw solid rgba(255, 255, 255, 0.308); ;

}

#frontend-backend-tag {
    margin: 0;
    padding: 0;
    font-size: 400%;
    border-bottom:0.04vw solid rgba(255, 255, 255, 0.308); 

}

#portfolio {
    margin: 3vh 3vw 0 3vw;
}
.project {
margin-bottom: 20vh;
}



.project-top {
    display: grid;
    grid-template-columns: 63% auto;
    gap: 2%;
    margin-bottom: 2%;
}

.project-actions {
    margin-top: 10%;
    display: flex;
}

.project-actions a {
    margin-right: 5%;
    width: 8%;
}

.project-actions span {
    margin-right: 5%;
}

.bankinfo-top {
    grid-template-columns: auto 63%;

}

.insight-top {
    grid-template-columns: 55% auto;

}

.bh-rep-top {
    grid-template-columns: 50% auto;
    padding-bottom: 15%;

}

.bh-project {
    display: grid;
    grid-template-columns: auto auto;
}

.bh-right {
    display: flex;
    align-items: center;
    justify-content: center;
    border:0.04vw solid rgba(255, 255, 255, 0.308); 
border-radius: 1vw;

}



.row-1 {
    display: flex;
    width: 94vw;
    height: max-content;
    
}

.web-preview-outer {
    display: flex;
  align-items: center;
  justify-content: center;
    width: 100%;
    height: 100%;
    margin-right: 2vw;
    /* background-color: red; */
    border:0.04vw solid rgba(255, 255, 255, 0.308); 
border-radius: 1vw;

}

.description-outer {
    width: 96%;
    border:0.04vw solid rgba(255, 255, 255, 0.308); 
    border-radius: 2%;
    color: white;
    padding: 5%;
    font-size: 170%;
    font-weight: 150;
   
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;  

}

.description-outer h1 {
    padding: 0;
    margin: 0;
    font-size: 250%;
    font-weight: 50;
}

.description-outer button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
 
    font-size: 100%;
    border-radius: 1vw;

    margin-top: 8%;
}


.bh-rep-description-outer {
    display: grid;
    grid-template-columns: auto;
    gap: 3vw; /*fix to overflow problem on bh-rep (Gap without precentages)*/
    padding-bottom: 9%;
    
}



.web-preview-inner {
    height:max-content;
    margin: 4% 3% 4% 3%;
    padding: 1.5%;
}

.bank-info-inner {
    background-color: #924DBF;

}

.insight-inner {
    background-color: #2177FF;
}

.wansearch-inner {
    background-color: #FC4C0A;

}

.bh-rep-inner {
    background-color: #00A07C;
}

.physics-inner {
    background-color: #504F4F;
}

.web-preview-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 1vw;

}

.project-bottom {
    display: grid;
    grid-template-columns: 45% auto;
    gap: 2%;
}

.technologies-used {
    display: flex;
    font-size: large;
    color: white;
    /* width: max-content; */
    font-weight: 200;

    border:0.04vw solid rgba(255, 255, 255, 0.308); 
    border-radius: 1vw;

justify-content: space-between;
padding: 2%;
}

.tech {
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;

}


.tech-logo {
    width: 40%;
}
.skills-involved {
    padding: 2%;
  
    font-size: large;
    color: white;
    /* width: max-content; */

    border:0.04vw solid rgba(255, 255, 255, 0.308); 
    border-radius: 1vw;


}

.mobile-only {
    display: none  
}

.large-screen-only {
    display: flex;
}

#about {
 
    margin-top: 30vh;
    margin-bottom: 8vh;

    color :white;
   

}

#about-heading {
    font-size: 500%;
}

.about-inner {
    display: grid;
    grid-template-columns: 50% 50%;

    height: 100%;
    margin: 3vw;
}

.about-item-outer {

    height: 100%;
    display: flex;
    flex-direction: column;

}

.about-item-text-right {
    text-align: end;
    margin-top: 2%;

    display: flex;
    align-items: center;
  justify-content: end;
}

.about-item-text-right span {
    margin-right: 2%;
}

.about-item-outer-right {
    position: relative;
    justify-self: end;
} 

.about-item-outer-right p {
    text-align: end;
    margin-left: 13%;
}

.about-item-logo {
    width: 5%;
    /* margin-right: 2%; */
}

.about-item-outer span {
    font-size: 200%;
}

.about-item-outer p {
    width: 80%;
}



.about-item-text-left {
    display: flex;
    margin-top: 2%;
    align-items: center;
    justify-content: start;
}

.about-item-text-left span {
    margin-left : 2%
}

.about-item-outer-contact {
    margin-top: 30%;
    width: 100%;
}

.about-item-outer-left {
    position: relative;
}


.about-item-outer-left p {
    
    margin-left: 8%;
}

.about-item-outer-left a {
    
    margin-left: 8%;
}

.about-line {
    border-right: 0.1vw dotted white;
}

.about-dot {
    position:absolute;
    width:3%;
    padding-bottom:3%;
    background:white;
    border-radius:50%;
}

.about-dot-right {
   
    left: -1.5%;
}

.about-dot-left {
   
    right: -1.5%;
    /* left: -2.5%; */
}

.about-techs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 5%;
    width: 60%;
    height: max-content;
    /* background-color: red; */
}

.about-tech-logo {
    width: 40%;
}

.contacts {
    /* width: 80%; */
    display: flex;
    align-items: end;
    justify-content: end;

    margin-left: 13%;
}


.contact {
    width: 10%;
}


.article {
    width: 100%;
    color: white;
    border:0.04vw solid rgba(255, 255, 255, 0.308); 
    padding: 1.5%;
    margin-bottom: 5vh;
    border-radius: 1vw;
    box-sizing: border-box;

}

.article h2 {
    font-weight: 200;
}

.article button {
    padding: 1%;
    border-radius: 0.5vw;
}

.article button:hover {
    background-color: #2177FF;
}



@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}


@media only screen and (max-width: 600px) {


    .nav-bar {
        width: 80vw;
        margin: 4vw auto 0 auto;
    }
    .landing-page-intro {
        justify-content: center;
    }

    .design-develop-tag {
        font-size: 110%;
    }

    .landing-page-bottom {
        margin-top: 10%;
        justify-content: center;
  align-items: center;
    }

    .bh-rep-top {
        height: 121vh;
    }
  

    .name {
        text-align: center;
    }

    .name-container {
        align-items: center;
    }

    .name h1 {
        font-size: 11vw;
    }

    .large-screen-only  {
        display: none  
    }


    .mobile-only  {
        display: flex 
    }

    .design-develop-tag {
        width: 50%;
    }


    .project {
        border:0.04vw solid rgba(255, 255, 255, 0.308); 
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
padding: 2%;

    }

   
    .project-top {
        grid-template-columns: auto;
    }

    .bankinfo-top {
        grid-template-columns: auto;
    
    }

    .bh-rep-top {
        grid-template-columns: auto;
    }
    .insight-top {
        grid-template-columns: auto;
    
    }

    .project-bottom {
        
        grid-template-columns: auto;
        margin-top: 7%;
    }
    .about-inner {
        grid-template-columns: auto;
    }

    .about-item-text-left span {
        border-bottom: 0.1vw dotted white;;
    }

    .about-item-text-right span {
        border-bottom: 0.1vw dotted white;;
    }

    .about-line {
        border: none;
    }   

    .about-item-outer {
        margin-top :5vh
    }

    .about-techs {
        width: 80%;
    }

 
   

    .description-outer {
height: max-content;       

    }

    .description-outer button {
        font-size: 80%;
    }



    .bh-project {
        grid-template-columns: auto;
    }

    .bh-left {
        margin-top: 1vh; /*fix to overflow problem on bh-rep*/    }
    
}


