html {
    overflow-x: hidden;
}

body {
    background-color: #1B1B1B;
    /* width: 100vw; */
    /* height: 100vh; */
    overflow-x: hidden;
    color: white;
    margin: 10vh 5vw 5vw 5vw;
    font-family: "Poppins";
   }

a {
    text-decoration: none;
    color: white;
}

.outer {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-text {


    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sub-text {
   
        width: 100%;
        height: max-content;


        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    
}

.gif {
    height: max-content;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.gif img {
    border-radius: 1vw;
    width: 20%;

}

.page-actions-outer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.page-actions {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.action {
    text-align: center;
    background-color: #313131;
    padding: 4%;
    border-radius: 0.6vw;
}

.home-button {
    position: fixed;
    width: 1.4vw;
    left: 0;
    padding: 0.7%;
    background-color: #313131;
    border-radius: 0 0.3vw 0.3vw 0;

}

.construction-outer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
} 

.construction-outer h1 {
    margin-bottom: 10vh;
    width: 60%;
    text-align: center;
    font-size: 3em;
}

.construction-outer img {
    border-radius: 1vw;
}

@media only screen and (max-width: 600px) {

    .home-button {
        left: auto;
        top: 0;
        width: 6vw;
    }

    .page-actions {
        width: 100%;
    }

    .action {
        padding: 2%;
        width: 25%;
    }

    .gif img {
        width: 50%;
    }

    .construction-outer h1 {
        width: auto;
    }

}